#welcome, #quiz, #inputScore, #highScores {
    width: 70%;
    text-align: center;
    padding: 2.5rem;
}

#quiz, #inputScore, #highScores {
    display: none;
    background-color: black;
}

.jumbotron {
    background-color: black;
    color: gold;
}

body {
    background-color: black;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}

.button, .btn {
    background-color: black;
    border: dashed 2px gold;
    color: gold;
    padding: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.btn:hover {
    border: solid 2px white;
}