body {
    background-color: black;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}

.quizheader {
    float: left;
    margin: 2rem;
}

.quizheader h1 {
    text-decoration: underline;
}


.quizinstructions {
    margin: 2rem;
}

.topnav {
    overflow: hidden;
    display: relative;
    float: right;
}
.topnav ul li {
    color: gold;
    text-align: center;
    padding: 2em;
    text-decoration: none;
    border: dashed gold;
    list-style: none;
}

#showQuiz {
    float: left;
    border: dashed gold;
    background-color: black;
    color: gold;
    padding-right: 100px;
}

#progressbar {
    width: 1%;
    height: 20px;
    background-color: limegreen;
}